{
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    },
    "project": "./jsconfig.json"
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "eslint-config-prettier"
  ],
  "rules": {
    "strict": ["error", "never"]
  },
  "env": {
    "browser": true
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
