.container {
    display: grid;
    align-items: stretch;
    justify-items: stretch;
    row-gap: 10px;
    column-gap: 60px;
    grid-template-columns: 0 1fr 1fr;
    grid-template-rows: 0.25fr 0.25fr 0.25fr;
    grid-template-areas:
		"left article wordlist right"
		"left article test right"
        "left article stats right";
    padding-top: 5vw;
    padding-bottom: 5vw;
}

.article { grid-area: article; }
.wordlist { grid-area: wordlist; }
.test { grid-area: test; }
.stats { grid-area: stats; }
body {
    margin: 0 !important;
    padding: 0 !important;
}